@font-face {
  font-family: "Bebas-Regular";
  src: url(../font/Bebas-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../font/Roboto-Light.ttf);
}
@font-face {
  font-family: "boldfont";
  src: url(../font/boldfont.ttf);
}
@font-face {
  font-family: "fFinish";
  src: url(../font/fFinish.ttf);
}
html {
  font-family: Roboto-Light;
  background-color: #03045e !important;
  color: #E6EFE9;
}
html .body_index {
  background-color: #03045e;
}
html .body_index h1, html .body_index h2, html .body_index h3 {
  font-family: boldfont;
  color: #E6EFE9;
}
html .body_index .principal {
  font-family: Arial, Helvetica sans-serif;
  background-color: #03045e;
  color: #E6EFE9;
}
html .body_index .principal .ticket {
  width: 90px;
  height: 90px;
  float: left;
}
html .body_index .principal .text_index {
  color: #E6EFE9;
  font-size: 18px;
  width: auto;
}
html .body_index .navbar-toggler_perso {
  background-color: #E6EFE9;
  border: #E6EFE9 solid 2px;
  border-radius: 9px;
  margin-right: 28px;
}
html .body_index .offcanvas-title_perso {
  margin-top: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
html .body_index .linksnos {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
html .body_index .linksnos:hover {
  font-size: 22px;
}
html .body_index .padre_pelis_index, html .body_index .padre_actores_index {
  text-align: center;
  color: #E6EFE9;
}
html .body_index .d-blockw-100_perso {
  width: 200px;
  height: 290px;
  border-radius: 15px;
  margin-left: 168px;
  margin-bottom: 40px;
}
html .body_index .actores_titulo {
  padding-top: 40px;
  padding-left: 570px;
  padding-bottom: 13px;
}
html .body_index .actores_text {
  padding-left: 450px;
  color: #E6EFE9;
}
html .main_pelis {
  background-color: #03045e;
}
html .main_pelis h1, html .main_pelis h2, html .main_pelis h3 {
  font-family: boldfont;
  color: #E6EFE9;
}
html .main_pelis .menu_perso {
  background-color: #03045e;
  background-color: transparent;
}
html .main_pelis .menu_perso .principal {
  font-family: Arial, Helvetica sans-serif;
  background-color: #03045e;
  color: #E6EFE9;
}
html .main_pelis .menu_perso .principal .ticket {
  width: 90px;
  height: 90px;
  float: left;
}
html .main_pelis .menu_perso .navbar-toggler_perso {
  background-color: #E6EFE9;
  border: #E6EFE9 solid 2px;
  border-radius: 9px;
  margin-right: 28px;
}
html .main_pelis .menu_perso .offcanvas-title_perso {
  margin-top: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
html .main_pelis .menu_perso .linksnos {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
html .main_pelis .menu_perso .linksnos:hover {
  font-size: 22px;
}
html .main_pelis .peliculas_main {
  margin-left: 40px;
}
html .main_pelis .peliculas_main .titulofotoytexto {
  border: black solid 4px;
  border-radius: 10px;
  margin-bottom: 20px;
}
html .main_pelis .peliculas_main .titulofotoytexto:over {
  text-align: center;
  align-items: center;
}
html .main_pelis .peliculas_main .titulofotoytexto:over .foto {
  display: none;
}
html .main_pelis .peliculas_main .titulofotoytexto:over .texto {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}
html .main_pelis .peliculas_main .titulofotoytexto .fotoytexto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
}
html .main_pelis .peliculas_main .titulofotoytexto .foto {
  width: 180px;
  height: 270px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
html .main_pelis .peliculas_main .titulofotoytexto .texto {
  color: #E6EFE9;
  width: 70%;
  text-align: justify;
}
html .grid {
  background-color: #03045e;
}
html .grid h1, html .grid h2, html .grid h3 {
  font-family: boldfont;
  color: #E6EFE9;
}
html .grid .menu_perso {
  background-color: #03045e;
  background-color: transparent;
}
html .grid .menu_perso .principal {
  font-family: Arial, Helvetica sans-serif;
  background-color: #03045e;
  color: #E6EFE9;
}
html .grid .menu_perso .principal .ticket {
  width: 90px;
  height: 90px;
  float: left;
}
html .grid .menu_perso .navbar-toggler_perso {
  background-color: #E6EFE9;
  border: #E6EFE9 solid 2px;
  border-radius: 9px;
  margin-right: 28px;
}
html .grid .menu_perso .offcanvas-title_perso {
  margin-top: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
html .grid .menu_perso .linksnos {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
html .grid .menu_perso .linksnos:hover {
  font-size: 22px;
}
html .grid .grid_actores {
  padding-left: 70px;
  background-color: #03045e;
  border: #7FEFBD;
  border-width: 23px;
  display: grid;
  grid-template-columns: repeat(2, 630px);
}
html .grid .grid_actores .gridal, html .grid .grid_actores .gridjake, html .grid .grid_actores .gridbrad, html .grid .grid_actores .gridchris, html .grid .grid_actores .gridleo, html .grid .grid_actores .gridtomhanks {
  width: 79%;
  border-width: 2px;
  color: #E6EFE9;
  border-top-color: #ff9f1c;
  border-radius: 67px;
  background-color: #34085e;
  margin-bottom: 45px;
}
html .grid .grid_actores .gridal:hover, html .grid .grid_actores .gridjake:hover, html .grid .grid_actores .gridbrad:hover, html .grid .grid_actores .gridchris:hover, html .grid .grid_actores .gridleo:hover, html .grid .grid_actores .gridtomhanks:hover {
  color: black;
  background-color: #888afb;
}
html .grid .grid_actores .alpacinoactores, html .grid .grid_actores .jakeactores, html .grid .grid_actores .bradactores, html .grid .grid_actores .chrisactores, html .grid .grid_actores .leoactores, html .grid .grid_actores .tomhanksactores {
  width: 200px;
  height: 290px;
  border-radius: 170px;
  margin-right: 45px;
  margin-left: 120px;
}
html .grid .grid_actores .jakeactores, html .grid .grid_actores .chrisactores {
  margin-left: 160px;
}
html .grid .grid_actores .leoactores, html .grid .grid_actores .tomhanksactores {
  margin-left: 130px;
}
html .grid .grid_actores .titulo_leo {
  margin-left: 130px;
  font-family: Bebas-Regular;
}
html .grid .grid_actores .titulo_al, html .grid .grid_actores .titulo_jake, html .grid .grid_actores .titulo_brad, html .grid .grid_actores .titulo_chris, html .grid .grid_actores .titulo_tomhanks {
  margin-left: 170px;
  font-family: Bebas-Regular;
}
html .grid .grid_actores .text_al, html .grid .grid_actores .text_jake, html .grid .grid_actores .text_brad, html .grid .grid_actores .text_chris, html .grid .grid_actores .text_leo, html .grid .grid_actores .text_tomhanks {
  width: 47%;
  text-align: justify;
  margin-left: 120px;
  margin-bottom: 18px;
}
html .body_nosotros {
  background-color: #03045e;
}
html .body_nosotros h1, html .body_nosotros h2, html .body_nosotros h3 {
  font-family: boldfont;
  color: #E6EFE9;
}
html .body_nosotros .menu_perso {
  background-color: #03045e;
  background-color: transparent;
}
html .body_nosotros .menu_perso .principal {
  font-family: Arial, Helvetica sans-serif;
  background-color: #03045e;
  color: #E6EFE9;
}
html .body_nosotros .menu_perso .principal .ticket {
  width: 90px;
  height: 90px;
  float: left;
}
html .body_nosotros .menu_perso .navbar-toggler_perso {
  background-color: #E6EFE9;
  border: #E6EFE9 solid 2px;
  border-radius: 9px;
  margin-right: 28px;
}
html .body_nosotros .menu_perso .offcanvas-title_perso {
  margin-top: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
html .body_nosotros .menu_perso .linksnos {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
html .body_nosotros .menu_perso .linksnos:hover {
  font-size: 22px;
}
html .body_contacto {
  background-color: #03045e;
}
html .body_contacto h1, html .body_contacto h2, html .body_contacto h3 {
  font-family: boldfont;
  color: #E6EFE9;
}
html .body_contacto .menu_perso {
  background-color: #03045e;
  background-color: transparent;
}
html .body_contacto .menu_perso .principal {
  font-family: Arial, Helvetica sans-serif;
  background-color: #03045e;
  color: #E6EFE9;
}
html .body_contacto .menu_perso .principal .ticket {
  width: 90px;
  height: 90px;
  float: left;
}
html .body_contacto .menu_perso .navbar-toggler_perso {
  background-color: #E6EFE9;
  border: #E6EFE9 solid 2px;
  border-radius: 9px;
  margin-right: 28px;
}
html .body_contacto .menu_perso .offcanvas-title_perso {
  margin-top: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
html .body_contacto .menu_perso .linksnos {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
html .body_contacto .menu_perso .linksnos:hover {
  font-size: 22px;
}
html .body_contacto .datos {
  width: 50%;
  padding-left: 23px;
  background-color: #03045e;
  color: #E6EFE9;
}
html .body_contacto .datos .comentario {
  width: 260px;
  height: 80px;
  margin-top: 2%;
}

/*# sourceMappingURL=style.css.map */
