@font-face {
    font-family: "Bebas-Regular";
    src: url(../font/Bebas-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Light";
    src: url(../font/Roboto-Light.ttf);
}
@font-face {
    font-family: "boldfont";
    src: url(../font/boldfont.ttf);
}
@font-face {
    font-family: "fFinish";
    src: url(../font/fFinish.ttf);
}
@font-face{
    font-family: "fFeelingSoon";
    src: url(../font/fFeelingSoon.ttf);
}
html{
    font-family: Roboto-Light ;
    background-color: #001845 !important;
    color: #E6EFE9;
    .body_index{
        background-color: #001845;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .principal{
            font-family: Arial, Helvetica sans-serif;
            background-color: #001845;
            color: #E6EFE9;
            .ticket{
                width: 90px;
                height: 90px;
                float: left;
            }
            .text_index{
                color: #E6EFE9;
                font-size: 18px;
                width: auto;
            }
        }
        .navbar-toggler_perso{
            background-color: #E6EFE9;
            border: #E6EFE9 solid 2px;
            border-radius: 9px;
            margin-right: 28px;
        }
        .offcanvas-title_perso{
            margin-top: 11px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 23px;
        }
        .linksnos{
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            transition: font-size 90ms;
            &:hover{
                font-size: 22px;
                text-decoration: underline;
            }
        }
        .padre_pelis_index, .padre_actores_index{
            text-align: center;
            color: #E6EFE9;
            margin-top: 30px;
        }
        .d-blockw-100_perso{
            width: 200px;
            height: 290px;
            border-radius: 15px;
            margin-left: 168px;
            margin-bottom: 40px;
            align-items: center;
            justify-content: center;
        }
        .actores_titulo{
            padding-top: 40px;
            padding-left: 570px;
            padding-bottom: 13px;
        }
        .actores_text{
            padding-left: 450px;
            color: #E6EFE9;
        }
        .redes{
            margin-top: 50px;
            display: block;
            text-align: center;
            background-color: #33415C;
            height: 120px;
            ul{
                list-style: none;
            .ig{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .X{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .linkedin{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
        }
        }
    }
    .main_pelis{
        background-color: #001845;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .top{
            width: 50px;
            height: 50px;
            background-color: #001233;
            border: #001233 2px solid;
            text-align:center;
            text-decoration: none;
            color: white;
            border-radius: 70px;
            margin-right: 20px;
            margin: 30px;
            margin-bottom: 20px;
            padding: 10px;
            display: inline-block;
            position: fixed;
            bottom: 30px;
            right: 20px;
            &:hover{
                background-image: linear-gradient(to right, #002855, #002c5c, #003064, #01346b, #013873, #013c7a, #023f80, #024387, #02478e, #034b95, #034f9d, #0353a4);
            }
        }
        .menu_perso{
            background-color:#001845;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #001845;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                    text-decoration: underline;
                }
            }
        }
        .peliculas_main{
            border: #caf0f8 solid 3px;
            border-radius: 30px;
            width: 1200px;
            margin-left: 40px;
            margin-bottom: 40px;
            background-color: #caf0f8;
            .titulofotoytexto{
                background-color: #001845;
                width: 1000px;
                border: #001845 solid  2px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 45px;
                margin-bottom: 20px;
                transition: width 1s;
                &:hover{
                    width: 1100px;
                    background-image: linear-gradient(to right, #002855, #002c5c, #003064, #01346b, #013873, #013c7a, #023f80, #024387, #02478e, #034b95, #034f9d, #0353a4);
                }
            .titulo{
                text-align: center;
            }
            .fotoytexto{ 
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-left: 30px;
                margin-right: 10px;
            }
            .foto{
                width: 180px;
                height: 270px;
                border-radius: 20px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            .texto{
                color: #E6EFE9;
                width: 80%;
                text-align: justify;
                }
            }
        }
        .redes{
            margin-top: 50px;
            display: block;
            text-align: center;
            background-color: #33415C;
            height: 120px;
            ul{
                list-style: none;
            .ig{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .X{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .linkedin{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
        }
        }
    }
    .grid{
        background-color: #001845;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .top{
            width: 50px;
            height: 50px;
            background-color: #001233;
            border: #001233 2px solid;
            text-align:center;
            text-decoration: none;
            color: white;
            border-radius: 70px;
            margin-right: 20px;
            margin: 30px;
            margin-bottom: 20px;
            padding: 10px;
            display: inline-block;
            position: fixed;
            bottom: 30px;
            right: 20px;
            &:hover{
                background-image: linear-gradient(to right, #002855, #002c5c, #003064, #01346b, #013873, #013c7a, #023f80, #024387, #02478e, #034b95, #034f9d, #0353a4);
            }
        }
        .menu_perso{
            background-color:#001845;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #001845;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                    text-decoration: underline;
                }
            }
        }
        .grid_actores{
            border: #caf0f8 solid 3px;
            border-radius: 30px;
            width: 1200px;
            align-items: center;
            margin-left: 20px;
            margin-bottom: 40px;
            background-color: #caf0f8;
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            .gridactor{
                width: 79%;
                background-color: #001845;
                border: #00b4d8 2px solid;
                color: #E6EFE9;
                border: #001845;
                border-radius: 67px;
                margin-left: 60px;
                margin-bottom: 25px;
                margin-top: 25px;
                align-items: center;
                text-align: center;
                &:hover{
                    background-image: linear-gradient(to right, #002855, #002c5c, #003064, #01346b, #013873, #013c7a, #023f80, #024387, #02478e, #034b95, #034f9d, #0353a4);
                }
            }
            .foto{
                width: 200px;
                height: 290px;
                border-radius: 170px;
                margin-bottom: 29px;
                margin-top: 22px;
            }
            .titulo{
                font-family: Bebas-Regular;
                margin-top: 22px;
            }
            .texto{
                width: 70%;
                text-align: justify;
                margin-left: 90px;
                margin-bottom: 18px;
            }
        }
        .redes{
            margin-top: 50px;
            display: block;
            text-align: center;
            background-color: #33415C;
            height: 120px;
            ul{
                list-style: none;
            .ig{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .X{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .linkedin{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
        }
        }
    }
    .body_nosotros{
        background-color: #03045e;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .menu_perso{
            background-color:#03045e;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #03045e;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                    text-decoration: underline;
                }
            }
        }
        .nosotrosmain{
            background-color: #caf0f8;
            position: absolute; 
            left: 180px;
            width: 65%;
            height: 1300px;
            display: grid;
            border-radius: 37px;
            grid-template-columns: repeat(2,700px);
            .textonosotros1{
                position: relative;
                left: -140px;
                background-color: #003589;
                font-size: 50px;
                color: #E6EFE9;
                text-align: center;
                width: 370px;
                height: 100px; 
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-left: 100px;
                margin-top: 70px;
                &:hover{
                    background-image:linear-gradient(to right, #03045e, #003589, #0060ab, #008ac4, #00b4d8);
                }
            }
            .textonosotrosR1{
                background-color: #008ac4;
                position: relative;
                left: -290px;
                display: block;
                color: #E6EFE9;
                text-align: justify;
                font-size: 17px;
                width: 500px;
                height: 170px; 
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-right: 700px;
                margin-top: 200px;
                &:hover{
                    background-image:linear-gradient(to right, #03045e, #003589, #0060ab, #008ac4, #00b4d8);
                }
            }
            .textonosotros2{
                position: relative;
                left: -50px;
                top: -100px;
                background-color: #003589;
                font-size: 27px;
                color: #E6EFE9;
                text-align: center;
                width: 370px;
                height: 100px; 
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                &:hover{
                    background-image:linear-gradient(to right, #03045e, #003589, #0060ab, #008ac4, #00b4d8);
                }
            }
            .textonosotrosR2{
                background-color: #008ac4;
                position: relative;
                left: -290px;
                top: 40px;
                display: block;
                color: #E6EFE9;
                text-align: justify;
                font-size: 17px;
                width: 500px;
                height: 175px; 
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                &:hover{
                    background-image:linear-gradient(to right, #03045e, #003589, #0060ab, #008ac4, #00b4d8);
                }
            }
            .textonosotros3{
                position: relative;
                left: -50px;
                top: -40px;
                background-color: #003589;
                font-size: 27px;
                color: #E6EFE9;
                text-align: center;
                width: 370px;
                height: 100px; 
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                &:hover{
                    background-image:linear-gradient(to right, #03045e, #003589, #0060ab, #008ac4, #00b4d8);
                }
            }
            .textonosotrosR3{
                background-color: #008ac4;
                position: relative;
                left: -290px;
                top: 130px;
                display: block;
                color: #E6EFE9;
                text-align: justify;
                font-size: 17px;
                width: 500px;
                height: 110px; 
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                .linkedin{
                    color: #E6EFE9;
                    text-decoration: underline;
                }
                &:hover{
                    background-image:linear-gradient(to right, #03045e, #003589, #0060ab, #008ac4, #00b4d8);
                }
            }
        }
        .redes{
            position: relative;
            margin-top: 1370px;
            display: block;
            text-align: center;
            background-color: #33415C;
            height: 120px;
            ul{
                list-style: none;
            .ig{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .X{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
            .linkedin{
                font-family: fFeelingSoon;
                position: relative;
                top: 20px;
                text-decoration: none;
                color: #E6EFE9;
                font-size: 20px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                }
            }
        }
        }
    }
    .body_contacto{
        background-color: #001845;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .menu_perso{
            background-color:#001845;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #001845;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                transition: font-size 90ms;
                &:hover{
                    font-size: 22px;
                    text-decoration: underline;
                }
            }
        }
        .datos{
            width: 50%;
            padding-left: 23px;
            background-color: #001845;
            color: #E6EFE9;
            .comentario2{
                width: 260px;
                height: 80px;
                margin-top: 2%;
            }
        }
    }
}

@import "./partials/queries"