@font-face {
    font-family: "Bebas-Regular";
    src: url(../font/Bebas-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Light";
    src: url(../font/Roboto-Light.ttf);
}
@font-face {
    font-family: "boldfont";
    src: url(../font/boldfont.ttf);
}
@font-face {
    font-family: "fFinish";
    src: url(../font/fFinish.ttf);
}
html{
    font-family: Roboto-Light ;
    background-color: #03045e !important;
    color: #E6EFE9;
    .body_index{
        background-color: #03045e;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .principal{
            font-family: Arial, Helvetica sans-serif;
            background-color: #03045e;
            color: #E6EFE9;
            .ticket{
                width: 90px;
                height: 90px;
                float: left;
            }
            .text_index{
                color: #E6EFE9;
                font-size: 18px;
                width: auto;
            }
        }
        .navbar-toggler_perso{
            background-color: #E6EFE9;
            border: #E6EFE9 solid 2px;
            border-radius: 9px;
            margin-right: 28px;
        }
        .offcanvas-title_perso{
            margin-top: 11px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 23px;
        }
        .linksnos{
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            &:hover{
                font-size: 22px;
            }
        }
        .peliculas_titulos{
            margin-left: 463px;
        }
        .pelis_text{
            color: #E6EFE9;
            padding-left: 527px;
        }
        .d-blockw-100_perso{
            width: 200px;
            height: 290px;
            border-radius: 15px;
            margin-left: 168px;
            margin-bottom: 40px;
        }
        .actores_titulo{
            padding-top: 40px;
            padding-left: 570px;
            padding-bottom: 13px;
        }
        .actores_text{
            padding-left: 450px;
            color: #E6EFE9;
        }
    }
    .main_pelis{
        background-color: #03045e;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .menu_perso{
            background-color:#03045e;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #03045e;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                &:hover{
                    font-size: 22px;
                }
            }
        }
        .peliculas_main{
            margin-left: 40px;
            .shawpadre, .godpadre, .batpadre, .fightpadre, .islapadre, .whiplashpadre, .salvandopadre, .carspadre, .persuitpadre, .forrestpadre{ 
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .shawshank, .padrino, .batman, .fightclub, .islasiniestra, .whiplash, .saving, .cars, .persuit, .forrest{
                width: 180px;
                height: 270px;
                border-radius: 20px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            .shawtext, .godtext, .battext, .fighttext, .islatext, .whiplashtext, .savingtext, .carstext, .persuittext, .forresttext{
                color: #E6EFE9;
                width: 50%;
                text-align: justify;
            }
        }
    }
    .grid{
        background-color: #03045e;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .menu_perso{
            background-color:#03045e;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #03045e;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                &:hover{
                    font-size: 22px;
                }
            }
            
        }
        .grid_actores{
            padding-left: 70px;
            background-color: #03045e;
            border: #7FEFBD;
            border-width: 23px;
            display: grid;
            grid-template-columns: repeat(2, 630px);
            .gridal,.gridjake, .gridbrad, .gridchris, .gridleo, .gridtomhanks{
                width: 79%;
                border-width: 2px;
                color: #E6EFE9;
                border-top-color: #ff9f1c;
                border-radius: 67px;
                background-color: #34085e;
                margin-bottom: 45px;
            }
            .gridal:hover, .gridjake:hover, .gridbrad:hover, .gridchris:hover, .gridleo:hover, .gridtomhanks:hover{
                color: black;
                background-color: #888afb;
            }
            .alpacinoactores, .jakeactores, .bradactores, .chrisactores, .leoactores, .tomhanksactores{
                width: 200px;
                height: 290px;
                border-radius: 170px;
                margin-right: 45px;
                margin-left: 120px;
            }
            .jakeactores, .chrisactores{
                margin-left: 160px;
            }
            .leoactores, .tomhanksactores{
                margin-left: 130px;
            }
            .titulo_leo{
                margin-left: 130px;
                font-family: Bebas-Regular;
            }
            .titulo_al, .titulo_jake, .titulo_brad, .titulo_chris, .titulo_tomhanks {
                margin-left: 170px;
                font-family: Bebas-Regular;
            }
            .text_al, .text_jake , .text_brad, .text_chris, .text_leo, .text_tomhanks{
                width: 47%;
                text-align: justify;
                margin-left: 120px;
                margin-bottom: 18px;
            }
        }
    }
    .body_nosotros{
        background-color: #03045e;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .menu_perso{
            background-color:#03045e;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #03045e;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                &:hover{
                    font-size: 22px;
                }
            }
        }
    }
    .body_contacto{
        background-color: #03045e;
        h1, h2, h3{
            font-family: boldfont;
            color: #E6EFE9;
        }
        .menu_perso{
            background-color:#03045e;
            background-color: transparent;
            .principal{
                font-family: Arial, Helvetica sans-serif;
                background-color: #03045e;
                color: #E6EFE9;
                .ticket{
                    width: 90px;
                    height: 90px;
                    float: left;
                }
            }
            .navbar-toggler_perso{
                background-color: #E6EFE9;
                border: #E6EFE9 solid 2px;
                border-radius: 9px;
                margin-right: 28px;
            }
            .offcanvas-title_perso{
                margin-top: 11px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 23px;
            }
            .linksnos{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                &:hover{
                    font-size: 22px;
                }
            }
        }
        .datos{
            width: 50%;
            padding-left: 23px;
            background-color: #03045e;
            color: #E6EFE9;
            .comentario{
                width: 260px;
                height: 80px;
                margin-top: 2%;
            }
        }
    }
}
