@media(max-width: 1200px) {
    .desaparece{
        display: none;
    }
    .navbar-toggler_perso{
        margin-right: 2px !important;
    }
    .peliculas_main{
        margin-left: 0px !important;
        margin-bottom: 0% !important;
        border-radius: 0% !important;
        width: 800px !important;
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
    .titulofotoytexto{
        width: 300px !important;
    }
    .texto{
        display: none;
    }
    .foto{
        margin-left: 20px;
    }
    .titulofotoytexto{
        align-items: center;
    }
    .grid_actores{
        width: 760px !important;
    }
    .nosotrosmain{
        position: absolute;
        left: 110px !important;
    }
    .textonosotros1{
        position: relative;
        left: 100px !important;
    }
    .textonosotrosR1{
        position: relative;
        left: -560px !important;
    }
    .textonosotros2{
        position: relative;
        left: 200px !important;
    }
    .textonosotrosR2{
        position: relative;
        left: -560px !important;
    }
    .textonosotros3{
        position: relative;
        left: 200px !important;
    }
    .textonosotrosR3{
        position: relative;
        left: -560px !important;
    }
}

@media(max-width: 768px){
    .desaparece2{
        display: none;
    }
    .ticket{
        width: 60px !important;
        height: 60px !important;
    }
    .peliculastitulo{
        font-size: 23px;
    }
    .peliculastexto{
        font-size: 10px;
    }
    .actores{
        font-size: 23px;
    }
    .textact{
        font-size: 10px;
    }
    .grid_actores{
        width: 300px !important;
        grid-template-columns: repeat(1, 300px) !important;
    }
    .textonosotros1{
        width: 230px !important;
        height: 70px !important;
        font-size: 30px !important;
        position: relative;
        left: 40px !important;
    }
    .textonosotrosR1{
        font-size: 11px !important;
        width: 250px !important;
        position: relative;
        left: -px !important;
    }
    .textonosotros2{
        width: 230px !important;
        height: 70px !important;
        font-size: 15px !important;
        position: relative;
        left: 150px !important;
    }
    .textonosotrosR2{
        font-size: 11px !important;
        width: 250px !important;
        position: relative;
        left: -px !important;
    }
    .textonosotros3{
        width: 230px !important;
        height: 70px !important;
        font-size: 18px !important;
        position: relative;
        left: 150px !important;
    }
    .textonosotrosR3{
        font-size: 11px !important;
        width: 250px !important;
        position: relative;
        left: -px !important;
    }
}
@media(max-width: 480px){
    .linksnos{
        font-size: 10px !important;
    }
    .d-blockw-100_perso{
        width: 140px !important;
        height: 210px !important;
        margin-left: 140px !important;
        margin-bottom: 40px;
    }
    .navbar-toggler_perso{
        margin-right: 2px !important;
        width: 34px;
        height: 29px;
    }
    .cine{
        font-size: 23px !important;
    }
    .text_index{
        font-size: 11px !important;
    }
    .titulo_{
        font-size: 20px;
    }
    .texto_{
        font-size: 10px;
    }
    .peliculastitulo{
        font-size: 18px;
    }
    .peliculastexto{
        font-size: 7px;
    }
}
@media(max-width: 430px){
    .peliculas_main{
        display: block; 
        align-items: center; 
        width: 380px !important;
    }
    .top{
        width: 40px !important;
        height: 40px !important;
        margin-right: 5px !important;
    }
    .nosotros{
        font-size: 20px;
    }
    .textnos{
        font-size: 12px;
    }
    .textonosotros1{
        width: 150px !important;
        height: 70px !important;
        font-size: 20px !important;
        position: relative;
        left: -40px !important;
    }
    .textonosotrosR1{
        font-size: 9px !important;
        width: 250px !important;
        height: 100px !important;
        position: relative;
        left: -690px !important;
    }
    .textonosotros2{
        width: 230px !important;
        height: 70px !important;
        font-size: 15px !important;
        position: relative;
        left: 20px !important;
    }
    .textonosotrosR2{
        font-size: 9px !important;
        width: 250px !important;
        height: 120px !important;
        position: relative;
        left: -690px !important;
    }
    .textonosotros3{
        width: 180px !important;
        height: 70px !important;
        font-size: 15px !important;
        position: relative;
        left: 43px !important;
    }
    .textonosotrosR3{
        font-size: 9px !important;
        width: 200px !important;
        height: 90px !important;
        position: relative;
        left: -665px !important;
    }
}
@media(max-width: 320px){
    .d-blockw-100_perso{
        margin-left: 86px !important;
    }
}