@media(max-width: 1200px) {
    .desaparece{
        display: none;
    }
}

@media(max-width: 800px){
    .desaparece2{
        display: none;
    }
}
@media(max-width: 420px){
    .d-blockw-100_perso{
        margin-left: 0px ;
        margin-bottom: 40px;
    }
}